In [1]:
import pandas as pd
data = {'Employee': ['Alice', 'Bob', 'Charlie'],
        'Salary': [60000, 45000, 70000]}
df = pd.DataFrame(data)
print("Original DataFrame:")
print(df)
print("-" * 30)
df['Updated_Salary'] = df['Salary'].apply(lambda x: x * 1.10)
print("DataFrame with 'Updated_Salary' column:")
print(df)

Original DataFrame:
  Employee  Salary
0    Alice   60000
1      Bob   45000
2  Charlie   70000
------------------------------
DataFrame with 'Updated_Salary' column:
  Employee  Salary  Updated_Salary
0    Alice   60000         66000.0
1      Bob   45000         49500.0
2  Charlie   70000         77000.0

In [2]:
import pandas as pd
data = {'Name': ['Alice', 'Bob', 'Charlie', 'David', 'Eva'],
        'Years_of_Experience': [2, 7, 15, 4, 10]}
df = pd.DataFrame(data)
def classify_experience(years):
    if years <= 3:
        return 'Junior'
    elif years <= 9:
        return 'Mid-Level'
    else:
        return 'Senior'
df['Experience_Level'] = df['Years_of_Experience'].apply(classify_experience)
print(df)

      Name  Years_of_Experience Experience_Level
0    Alice                    2           Junior
1      Bob                    7        Mid-Level
2  Charlie                   15           Senior
3    David                    4        Mid-Level
4      Eva                   10           Senior

In [3]:
import pandas as pd
data = {'Name': ['Alice', 'Bob', 'Charlie', 'David', 'Eve'],
        'Salary': [55000, 70000, 62000, 48000, 90000]}
df = pd.DataFrame(data)
def is_high_earner(salary):
    if salary > 60000:
        return 'Yes'
    else:
        return 'No'
df['High Earners'] = df['Salary'].apply(is_high_earner)

print(df)

      Name  Salary High Earners
0    Alice   55000           No
1      Bob   70000          Yes
2  Charlie   62000          Yes
3    David   48000           No
4      Eve   90000          Yes

In [9]:
def calculate_area(length, width):
    """
    This function calculates the area of a rectangle.
    """
    area = length * width
    return area

rectangle_length = 10
rectangle_width = 5
result_area = calculate_area(rectangle_length, rectangle_width)

print(f"The area of the rectangle is: {result_area}")

The area of the rectangle is: 50

In [10]:
import pandas as pd
data = {'Name': ['Alice', 'Bob', 'Charlie'],
        'Department': ['HR', 'IT', 'Finance']}
df = pd.DataFrame(data)
def create_employee_tag(row):
    return f"{row['Name']} ({row['Department']})"
    df['Employee_Tag'] = df.apply(create_employee_tag, axis=1)
print(df)

      Name Department
0    Alice         HR
1      Bob         IT
2  Charlie    Finance

In [11]:
import pandas as pd
import numpy as np
data = {'Name': ['Alice', 'Bob', 'Charlie', 'David'],
        'Salary': [60000, 75000, 90000, 50000],
        'Bonus': [6000, 7500, 13500, 0]}
df = pd.DataFrame(data)

print("Original DataFrame:")
print(df)

Original DataFrame:
      Name  Salary  Bonus
0    Alice   60000   6000
1      Bob   75000   7500
2  Charlie   90000  13500
3    David   50000      0

In [12]:
import pandas as pd
data = {'Name': ['Alice', 'Bob', 'Charlie'],
        'Salary': [50000, 75000, 120000]}
df = pd.DataFrame(data)

print("Original DataFrame:")
print(df)
print("-" * 30)
df['Formatted_Salary'] = df['Salary'].apply(lambda x: f'₹{x:,.0f}')
print(df)

Original DataFrame:
      Name  Salary
0    Alice   50000
1      Bob   75000
2  Charlie  120000
------------------------------
      Name  Salary Formatted_Salary
0    Alice   50000          ₹50,000
1      Bob   75000          ₹75,000
2  Charlie  120000         ₹120,000

In [13]:
import pandas as pd
data = {
    'Employee': ['Alice', 'Bob', 'Charlie', 'David'],
    'Department': ['IT', 'Sales', 'IT', 'Marketing'],
    'Salary': [70000, 60000, 75000, 65000]
}
df = pd.DataFrame(data)
print("Original DataFrame:")
print(df)

Original DataFrame:
  Employee Department  Salary
0    Alice         IT   70000
1      Bob      Sales   60000
2  Charlie         IT   75000
3    David  Marketing   65000