In [1]:
import pandas as pd

data = {'Name': ['Alice', 'Bob', 'Charlie'],
        'Salary': [50000, 60000, 75000]}
df = pd.DataFrame(data)

print("Original DataFrame:")
print(df)
print("\n" + "="*30 + "\n")

# 2. Increase the Salary by 10% and create a new column
df['Updated_Salary'] = df['Salary'].apply(lambda x: x * 1.10)


print("Updated DataFrame:")
print(df)

Original DataFrame:
      Name  Salary
0    Alice   50000
1      Bob   60000
2  Charlie   75000

==============================

Updated DataFrame:
      Name  Salary  Updated_Salary
0    Alice   50000         55000.0
1      Bob   60000         66000.0
2  Charlie   75000         82500.0

In [2]:
import pandas as pd

data = {'Salary': [50000, 60000, 70000, 80000],
        'Bonus': [5000, 6000, 7000, 8000]}
df = pd.DataFrame(data)

print("Original DataFrame:")
print(df)

def calculate_total_compensation(row):
    return row['Salary'] + row['Bonus']

df['Total Compensation'] = df.apply(calculate_total_compensation, axis=1)

print("\nDataFrame with Total Compensation:")
print(df)

Original DataFrame:
   Salary  Bonus
0   50000   5000
1   60000   6000
2   70000   7000
3   80000   8000

DataFrame with Total Compensation:
   Salary  Bonus  Total Compensation
0   50000   5000               55000
1   60000   6000               66000
2   70000   7000               77000
3   80000   8000               88000

In [3]:
import pandas as pd
import numpy as np

data = {'Employee': ['Alice', 'Bob', 'Charlie', 'David', 'Eve', 'Frank'],
        'Years_of_Experience': [2, 5, 8, 4, 6, 1]}
df = pd.DataFrame(data)

print("Original DataFrame:")
print(df)
print("\n" + "="*30 + "\n")

def classify_experience(years):
    if years < 4:
        return "Beginner"
    elif 4 <= years <= 6:
        return "Intermediate"
    else:  # years > 6
        return "Expert"

df['Experience_Level'] = df['Years_of_Experience'].apply(classify_experience)

print("DataFrame with new 'Experience_Level' column:")
print(df)

Original DataFrame:
  Employee  Years_of_Experience
0    Alice                    2
1      Bob                    5
2  Charlie                    8
3    David                    4
4      Eve                    6
5    Frank                    1

==============================

DataFrame with new 'Experience_Level' column:
  Employee  Years_of_Experience Experience_Level
0    Alice                    2         Beginner
1      Bob                    5     Intermediate
2  Charlie                    8           Expert
3    David                    4     Intermediate
4      Eve                    6     Intermediate
5    Frank                    1         Beginner

In [4]:
import pandas as pd

data = {'Name': ['Alice', 'Bob', 'Charlie', 'David', 'Eve'],
        'Salary': [55000, 70000, 62000, 48000, 80000]}
df = pd.DataFrame(data)

df['High_Earner'] = df['Salary'].apply(lambda x: 'Yes' if x > 60000 else 'No')

print(df)

      Name  Salary High_Earner
0    Alice   55000          No
1      Bob   70000         Yes
2  Charlie   62000         Yes
3    David   48000          No
4      Eve   80000         Yes

In [5]:
import pandas as pd
import numpy as np

data = {'Name': ['Alice', 'Bob', 'Charlie', 'David', 'Eve'],
        'Bonus': [2500, 1800, 1200, 2000, 3000]}
df = pd.DataFrame(data)

print("Original DataFrame:")
print(df)
def bonus_grade(bonus):
    if bonus > 2000:
        return "Excellent"
    elif 1500 <= bonus <= 2000:
        return "Good"
    else:
        return "Average"

df['Bonus_Grade'] = df['Bonus'].apply(bonus_grade)

print("\nDataFrame with new column using .apply():")
print(df)
conditions = [
    (df['Bonus'] > 2000),
    (df['Bonus'] >= 1500) & (df['Bonus'] <= 2000),
    (df['Bonus'] < 1500)
]

choices = ['Excellent', 'Good', 'Average']

df['Bonus_Grade'] = np.select(conditions, choices, default='Unknown')

print("\nDataFrame with new column using numpy.select():")
print(df)

Original DataFrame:
      Name  Bonus
0    Alice   2500
1      Bob   1800
2  Charlie   1200
3    David   2000
4      Eve   3000

DataFrame with new column using .apply():
      Name  Bonus Bonus_Grade
0    Alice   2500   Excellent
1      Bob   1800        Good
2  Charlie   1200     Average
3    David   2000        Good
4      Eve   3000   Excellent

DataFrame with new column using numpy.select():
      Name  Bonus Bonus_Grade
0    Alice   2500   Excellent
1      Bob   1800        Good
2  Charlie   1200     Average
3    David   2000        Good
4      Eve   3000   Excellent

In [6]:
import pandas as pd

data = {'Name': ['Alice', 'Bob', 'Charlie'],
        'Department': ['HR', 'Engineering', 'Marketing']}
df = pd.DataFrame(data)
def create_employee_tag(row):
        return f"{row['Name']} ({row['Department']})"
df['Employee_Tag'] = df.apply(create_employee_tag, axis=1)
print(df)

      Name   Department         Employee_Tag
0    Alice           HR           Alice (HR)
1      Bob  Engineering    Bob (Engineering)
2  Charlie    Marketing  Charlie (Marketing)

In [7]:
import pandas as pd

data = {
    'Employee': ['Alice', 'Bob', 'Charlie', 'Diana'],
    'Salary': [60000, 75000, 90000, 80000],
    'Bonus': [6000, 15000, 4500, 8000]
}
df = pd.DataFrame(data)

print("Original DataFrame:")
print(df)

def calculate_bonus_percentage(row):
    """
    Calculates the bonus as a percentage of the salary for a given row.
    """
    if row['Salary'] > 0:
        return (row['Bonus'] / row['Salary']) * 100
    return 0

df['Bonus_Percent'] = df.apply(calculate_bonus_percentage, axis=1)

print("\nDataFrame with 'Bonus_Percent' column:")
print(df)

Original DataFrame:
  Employee  Salary  Bonus
0    Alice   60000   6000
1      Bob   75000  15000
2  Charlie   90000   4500
3    Diana   80000   8000

DataFrame with 'Bonus_Percent' column:
  Employee  Salary  Bonus  Bonus_Percent
0    Alice   60000   6000           10.0
1      Bob   75000  15000           20.0
2  Charlie   90000   4500            5.0
3    Diana   80000   8000           10.0

In [8]:
import pandas as pd

data = {'Name': ['Alice', 'Bob', 'Charlie'],
        'Salary': [75000, 150000, 2500000]}
df = pd.DataFrame(data)

def format_inr(value):
    """Formats an integer into Indian currency style (₹XX,XX,XXX)."""
    s = str(int(value))
    if len(s) > 3:
        last_three = s[-3:]
        other_digits = s[:-3]
        s = f"{format(int(other_digits), ',')},{last_three}"
    return f"₹{s}"

df['Formatted_Salary'] = df['Salary'].apply(format_inr)

print(df)

      Name   Salary Formatted_Salary
0    Alice    75000          ₹75,000
1      Bob   150000         ₹150,000
2  Charlie  2500000       ₹2,500,000

In [9]:
import pandas as pd

data = {'Name': ['Alice', 'Bob', 'Charlie', 'David'],
        'Experience': [7, 4, 6, 5],
        'Bonus': [2500, 1500, 1800, 2100]}
df = pd.DataFrame(data)

print("Original DataFrame:")
print(df)
df['Promotion_Eligible'] = df.apply(
    lambda row: 'Yes' if row['Experience'] >= 5 and row['Bonus'] >= 2000 else 'No',
    axis=1
)

print("\nDataFrame with Promotion_Eligible column (using lambda):")
print(df)

Original DataFrame:
      Name  Experience  Bonus
0    Alice           7   2500
1      Bob           4   1500
2  Charlie           6   1800
3    David           5   2100

DataFrame with Promotion_Eligible column (using lambda):
      Name  Experience  Bonus Promotion_Eligible
0    Alice           7   2500                Yes
1      Bob           4   1500                 No
2  Charlie           6   1800                 No
3    David           5   2100                Yes

In [10]:
import pandas as pd

data = {'Department': ['HR', 'IT', 'Finance', 'HR', 'IT'],
        'Salary': [50000, 60000, 70000, 55000, 62000]}
df = pd.DataFrame(data)

def adjust_salary(row):
    department = row['Department']
    salary = row['Salary']

    if department == 'HR':
        return salary * 1.05  # +5%
    elif department == 'IT':
        return salary * 1.07  # +7%
    elif department == 'Finance':
        return salary * 1.10 # +10%
    else:
        return salary # No adjustment for other departments

df['Dept_Adjusted_Salary'] = df.apply(adjust_salary, axis=1)

print(df)

  Department  Salary  Dept_Adjusted_Salary
0         HR   50000               52500.0
1         IT   60000               64200.0
2    Finance   70000               77000.0
3         HR   55000               57750.0
4         IT   62000               66340.0