In [1]:
import pandas as pd

try:
    df = pd.read_csv('dirty_employees.csv')
except FileNotFoundError:
    print("Error: 'dirty_employees.csv' not found. Please ensure the file is in the correct directory.")
    # Create a sample DataFrame for demonstration if the file is missing
    data = {
        'id': [1, 2, 3, 4, 5],
        'name': ['John Doe', 'Jane Smith', 'Peter Jones', 'Mary Johnson', 'David Lee'],
        'department': ['Sales', 'Marketing', 'Sales', 'HR', None],
        'start_date': ['2020-01-15', '2021-03-22', '2020-01-15', '2022-05-10', '2019-11-01'],
        'salary': [60000, 65000, 62000, 58000, None]
    }
    df = pd.DataFrame(data)

print("First 5 rows of the DataFrame:")
print(df.head())

print("\nMissing values in each column:")
print(df.isnull().sum())

Error: 'dirty_employees.csv' not found. Please ensure the file is in the correct directory.
First 5 rows of the DataFrame:
   id          name department  start_date   salary
0   1      John Doe      Sales  2020-01-15  60000.0
1   2    Jane Smith  Marketing  2021-03-22  65000.0
2   3   Peter Jones      Sales  2020-01-15  62000.0
3   4  Mary Johnson         HR  2022-05-10  58000.0
4   5     David Lee       None  2019-11-01      NaN

Missing values in each column:
id            0
name          0
department    1
start_date    0
salary        1
dtype: int64

In [2]:
import pandas as pd
import numpy as np

data = {
    'Employee_ID': [101, 102, np.nan, 104, 105],
    'Name': ['Alice', np.nan, 'Charlie', 'David', np.nan],
    'Department': ['HR', 'IT', 'Marketing', 'IT', 'HR'],
    'Salary': [70000, 80000, 60000, np.nan, 75000]
}

df = pd.DataFrame(data)
print("Original DataFrame:")
print(df)

Original DataFrame:
   Employee_ID     Name Department   Salary
0        101.0    Alice         HR  70000.0
1        102.0      NaN         IT  80000.0
2          NaN  Charlie  Marketing  60000.0
3        104.0    David         IT      NaN
4        105.0      NaN         HR  75000.0

In [4]:
import pandas as pd

df_unique_rows = df.drop_duplicates()

# Using existing column names 'Department' and 'Salary' as an example
df_unique_subset = df.drop_duplicates(subset=['Department', 'Salary'])

df_keep_last = df.drop_duplicates(keep='last')

print("DataFrame after dropping duplicates based on 'Department' and 'Salary':")
print(df_unique_subset)

DataFrame after dropping duplicates based on 'Department' and 'Salary':
   Employee_ID     Name Department   Salary
0        101.0    Alice         HR  70000.0
1        102.0      NaN         IT  80000.0
2          NaN  Charlie  Marketing  60000.0
3        104.0    David         IT      NaN
4        105.0      NaN         HR  75000.0

In [5]:
import pandas as pd
import numpy as np
data = {'Name': ['Alice', 'Bob', 'Charlie', 'David', 'Eve'],
        'Age': [25, -1, 32, -5, 41]}
df = pd.DataFrame(data)

print("Original DataFrame:")
print(df)

Original DataFrame:
      Name  Age
0    Alice   25
1      Bob   -1
2  Charlie   32
3    David   -5
4      Eve   41

In [6]:
import pandas as pd
import numpy as np

salaries = [45000, 50000, 52000, 55000, 58000, 60000, 62000, 65000, 70000, 72000, 75000, 80000, 90000, 150000, 250000, 500000]

salary_series = pd.Series(salaries)

Q1 = salary_series.quantile(0.25)
Q3 = salary_series.quantile(0.75)

IQR = Q3 - Q1

upper_threshold = Q3 + 1.5 * IQR

print(f"Q1: {Q1}")
print(f"Q3: {Q3}")
print(f"IQR: {IQR}")
print(f"Upper Threshold (Q3 + 1.5 * IQR): {upper_threshold}\n")

outliers = salary_series[salary_series > upper_threshold]

print("Outliers (salaries > upper threshold):")
print(outliers)

salaries_cleaned = salary_series[salary_series <= upper_threshold]

print("\nCleaned salary data (outliers removed):")
print(salaries_cleaned)

Q1: 57250.0
Q3: 82500.0
IQR: 25250.0
Upper Threshold (Q3 + 1.5 * IQR): 120375.0

Outliers (salaries > upper threshold):
13    150000
14    250000
15    500000
dtype: int64

Cleaned salary data (outliers removed):
0     45000
1     50000
2     52000
3     55000
4     58000
5     60000
6     62000
7     65000
8     70000
9     72000
10    75000
11    80000
12    90000
dtype: int64

In [8]:
import pandas as pd

df['Age'] = pd.to_numeric(df['Age'], errors='coerce').astype(int)

In [9]:
def format_name(name):

    trimmed_name = " ".join(name.split())

    return trimmed_name.title()

names = ["  jOHN    f. doe ", "  alice   w. smith  "]
formatted_names = [format_name(name) for name in names]

print(formatted_names)

['John F. Doe', 'Alice W. Smith']

In [10]:
import pandas as pd

data = {'employee': ['Alice', 'Bob', 'Charlie'],
        'department': [' hr', 'HR ', 'Hr']}
df = pd.DataFrame(data)

# Define the standardization function
def standardize_department(department_name):
    if isinstance(department_name, str):
        # Convert to uppercase and remove whitespace
        return department_name.strip().upper()
    return department_name

# Apply the function to the 'department' column
df['department'] = df['department'].apply(standardize_department)

print(df)

  employee department
0    Alice         HR
1      Bob         HR
2  Charlie         HR

In [14]:
import pandas as pd
df.to_csv('Data analysis.csv', index=False)