In [1]:
import pandas as pd

df = pd.read_csv('Filtering.csv')

print(df.head())

    Name  Class  Maths  Science  English       City
0   Amit     10     78       85       74      Delhi
1  Priya     10     88       92       89     Mumbai
2   Ravi     10     45       50       60  Bangalore
3  Sneha     10     95       98       99      Delhi
4  Karan     10     30       35       40    Kolkata

In [2]:
students = [
    {'name': 'Alice', 'Maths': 90, 'Science': 85, 'English': 92},
    {'name': 'Bob', 'Maths': 70, 'Science': 35, 'English': 88},
    {'name': 'Charlie', 'Maths': 95, 'Science': 98, 'English': 91},
    {'name': 'David', 'Maths': 45, 'Science': 42, 'English': 38},
    {'name': 'Eve', 'Maths': 60, 'Science': 55, 'English': 65}
]

passed_students = []
for student in students:
    if student['Maths'] > 40 and student['Science'] > 40 and student['English'] > 40:
        passed_students.append(student)

print(passed_students)

[{'name': 'Alice', 'Maths': 90, 'Science': 85, 'English': 92}, {'name': 'Charlie', 'Maths': 95, 'Science': 98, 'English': 91}, {'name': 'Eve', 'Maths': 60, 'Science': 55, 'English': 65}]

In [5]:
students = [
    {'name': 'Alice', 'Science': 95, 'Math': 88},
    {'name': 'Bob', 'Science': 89, 'Math': 92},
    {'name': 'Charlie', 'Science': 91, 'Math': 78},
    {'name': 'David', 'Science': 85, 'Math': 95},
    {'name': 'Eve', 'Science': 98, 'Math': 90}
]

high_performers = [student for student in students if student['Science'] > 90]


for student in high_performers:
  print(f"{student['name']} scored {student['Science']} in Science.")

Alice scored 95 in Science.
Charlie scored 91 in Science.
Eve scored 98 in Science.

In [6]:
students = [
    {'name': 'Alice', 'city': 'Mumbai'},
    {'name': 'Bob', 'city': 'Delhi'},
    {'name': 'Charlie', 'city': 'Mumbai'},
    {'name': 'David', 'city': 'Bangalore'},
    {'name': 'Eve', 'city': 'Mumbai'}
]
mumbai_students = [student for student in students if student['city'] == 'Mumbai']

print(mumbai_students)

[{'name': 'Alice', 'city': 'Mumbai'}, {'name': 'Charlie', 'city': 'Mumbai'}, {'name': 'Eve', 'city': 'Mumbai'}]

In [7]:
import pandas as pd

data = {
    'name': ['Alice', 'Bob', 'Charlie', 'Diana', 'Eve'],
    'math': [85, 35, 92, 65, 95],
    'science': [90, 88, 30, 72, 98],
    'history': [78, 75, 81, 39, 91]
}
df = pd.DataFrame(data)

passing_threshold = 40

failing_mask = (df[['math', 'science', 'history']] < passing_threshold).any(axis=1)

failing_students_df = df[failing_mask]

print("Students who failed at least one subject:")
print(failing_students_df)

Students who failed at least one subject:
      name  math  science  history
1      Bob    35       88       75
2  Charlie    92       30       81
3    Diana    65       72       39

In [8]:
import pandas as pd

data = {
    'Name': ['Alice', 'Bob', 'Charlie', 'David', 'Eve'],
    'Math': [85, 70, 92, 78, 95],
    'Science': [90, 75, 88, 82, 91],
    'English': [78, 85, 90, 70, 88]
}

df = pd.DataFrame(data)

df['Average'] = df[['Math', 'Science', 'English']].mean(axis=1)

filtered_df = df[df['Average'] > 80]

print(filtered_df)

      Name  Math  Science  English    Average
0    Alice    85       90       78  84.333333
2  Charlie    92       88       90  90.000000
4      Eve    95       91       88  91.333333

In [9]:
students = ["Alice", "Bob", "Andrew", "Claire", "Adam"]

filtered_students = filter(lambda name: name.startswith('A'), students)

starts_with_a = list(filtered_students)
students = ["Alice", "bob", "Andrew", "claire", "Adam", "amy"]

starts_with_a_case_insensitive = [
    name for name in students if name.lower().startswith('a')
]

print(starts_with_a_case_insensitive)

['Alice', 'Andrew', 'Adam', 'amy']