In [4]:
import pandas as pd
df = pd.read_csv('Book1.csv')
print(df.head())

       City  Population  GDP
0    Mumbai       10000  500
1      Pune       20000  499
2   Chennai       30000  999
3  Banglore       40000  238

In [5]:
students = [
    {'name': 'Alice', 'maths': 85, 'science': 90, 'english': 78},
    {'name': 'Bob', 'maths': 35, 'science': 45, 'english': 60},
    {'name': 'Charlie', 'maths': 55, 'science': 65, 'english': 58},
    {'name': 'David', 'maths': 92, 'science': 88, 'english': 95}
]
filtered_students = [
    student for student in students
    if student['maths'] > 40 and student['science'] > 40 and student['english'] > 40
]
print(filtered_students)

[{'name': 'Alice', 'maths': 85, 'science': 90, 'english': 78}, {'name': 'Charlie', 'maths': 55, 'science': 65, 'english': 58}, {'name': 'David', 'maths': 92, 'science': 88, 'english': 95}]

In [7]:
students = [
    {"Name": "Alice", "City": "Mumbai"},
    {"Name": "Bob", "City": "Delhi"},
    {"Name": "Charlie", "City": "Mumbai"},
    {"Name": "David", "City": "Kolkata"},
]

mumbai_students = [student for student in students if student["City"] == "Mumbai"]

print(mumbai_students)

[{'Name': 'Alice', 'City': 'Mumbai'}, {'Name': 'Charlie', 'City': 'Mumbai'}]

In [8]:
student_scores = {
    "Alice": [85, 90, 78, 95],
    "Bob": [35, 70, 60, 80],
    "Charlie": [92, 88, 95, 98],
    "David": [45, 38, 75, 85],
    "Eve": [50, 65, 70, 75]
}

failed_students = []
for student, scores in student_scores.items():
  for score in scores:
        if score < 40:
            failed_students.append(student)
            break
print("Students who scored less than 40 in at least one subject:")
for student in failed_students:
    print(student)

Students who scored less than 40 in at least one subject:
Bob
David

In [9]:
import pandas as pd
data = {
    'Name': ['Alice', 'Bob', 'Charlie', 'David', 'Eva'],
    'Math': [85, 76, 92, 68, 95],
    'Science': [90, 88, 78, 85, 91],
    'History': [78, 82, 95, 75, 89]
}
df = pd.DataFrame(data)

print("Original DataFrame:")
print(df)
print("\n" + "="*30 + "\n")
marks_columns = ['Math', 'Science', 'History']
df['Average'] = df[marks_columns].mean(axis=1)

print("DataFrame with new 'Average' column:")
print(df)
print("\n" + "="*30 + "\n")
filtered_students = df[df['Average'] > 80]

print("Students with an average greater than 80:")
print(filtered_students)

Original DataFrame:
      Name  Math  Science  History
0    Alice    85       90       78
1      Bob    76       88       82
2  Charlie    92       78       95
3    David    68       85       75
4      Eva    95       91       89

==============================

DataFrame with new 'Average' column:
      Name  Math  Science  History    Average
0    Alice    85       90       78  84.333333
1      Bob    76       88       82  82.000000
2  Charlie    92       78       95  88.333333
3    David    68       85       75  76.000000
4      Eva    95       91       89  91.666667

==============================

Students with an average greater than 80:
      Name  Math  Science  History    Average
0    Alice    85       90       78  84.333333
1      Bob    76       88       82  82.000000
2  Charlie    92       78       95  88.333333
4      Eva    95       91       89  91.666667

In [10]:
all_students = ["Alice", "Bob", "Charlie", "David", "Anna"]
students_starting_with_a = [name for name in all_students if name.startswith("A")]
print(students_starting_with_a)

['Alice', 'Anna']

In [11]:
students = [
    {"name": "Alice", "city": "Delhi", "maths_marks": 80},
    {"name": "Bob", "city": "Mumbai", "maths_marks": 90},
    {"name": "Charlie", "city": "Delhi", "maths_marks": 70},
    {"name": "David", "city": "Delhi", "maths_marks": 85},
]
filtered_students = []
for student in students:
    if student["city"] == "Delhi" and student["maths_marks"] > 75:
        filtered_students.append(student)
for student in filtered_students:
    print(student["name"])

Alice
David

In [12]:
students = [
    {"name": "Alice", "city": "Mumbai", "English_marks": 75},
    {"name": "Bob", "city": "Delhi", "English_marks": 45},
    {"name": "Charlie", "city": "Mumbai", "English_marks": 30},
    {"name": "David", "city": "Pune", "English_marks": 60},
    {"name": "Eve", "city": "Mumbai", "English_marks": 49},
    {"name": "Fiona", "city": "Delhi", "English_marks": 85},
]
filtered_students = []
for student in students:
    if student["city"] == "Mumbai" or student["English_marks"] < 50:
        filtered_students.append(student)
for student in filtered_students:
    print(student)

{'name': 'Alice', 'city': 'Mumbai', 'English_marks': 75}
{'name': 'Bob', 'city': 'Delhi', 'English_marks': 45}
{'name': 'Charlie', 'city': 'Mumbai', 'English_marks': 30}
{'name': 'Eve', 'city': 'Mumbai', 'English_marks': 49}

In [14]:
import csv
with open('passed_students.csv', 'w', newline='') as file:
    writer = csv.writer(file)
    writer.writerows(passed_students)

NameError: name 'passed_students' is not defined

In [15]:
import csv

# Assuming you want to save the filtered_students list from cell bPzJflPMdTZ9
# which contains students who scored more than 40 in all subjects.
# If you intended to use a different list, please specify which one.

students = [
    {'name': 'Alice', 'maths': 85, 'science': 90, 'english': 78},
    {'name': 'Bob', 'maths': 35, 'science': 45, 'english': 60},
    {'name': 'Charlie', 'maths': 55, 'science': 65, 'english': 58},
    {'name': 'David', 'maths': 92, 'science': 88, 'english': 95}
]
filtered_students = [
    student for student in students
    if student['maths'] > 40 and student['science'] > 40 and student['english'] > 40
]

with open('passed_students.csv', 'w', newline='') as file:
    writer = csv.writer(file)
    # Write the header row
    writer.writerow(filtered_students[0].keys())
    # Write the data rows
    for student in filtered_students:
        writer.writerow(student.values())

print("Successfully wrote filtered students to passed_students.csv")

Successfully wrote filtered students to passed_students.csv