In [3]:
import pandas as pd

df = pd.read_csv('Forms.csv')

print(df.head())

   Employee_ID           Name  Age Department  Salary Joining_Date  \
0          101       John Doe   28         IT   50000   15-06-2018
1          102     Jane Smith   32         HR   60000   23-09-2016
2          103    Emily Davis   45    Finance   80000   04-11-2012
3          104  Michael Brown   29         IT   55000   12-07-2019
4          105   Chris Wilson   35  Marketing   62000   19-03-2015

            City
0       New York
1    Los Angeles
2        Chicago
3       New York
4  San Francisco

In [4]:
import pandas as pd

data = {'Name': ['Alice', 'Bob', 'Charlie', 'David'],
        'Age': [25, 30, 35, 40],
        'City': ['New York', 'London', 'Paris', 'Tokyo']}
df = pd.DataFrame(data)
name_series = df['Name']

print(name_series)

0      Alice
1        Bob
2    Charlie
3      David
Name: Name, dtype: object

In [5]:
import pandas as pd
data = {
    "Product": ["Laptop", "Mouse", "Keyboard", "Monitor"],
    "Price": [1200, 25, 75, 300],
    "Quantity": [10, 50, 30, 5]
}

df = pd.DataFrame(data)

print(df)

    Product  Price  Quantity
0    Laptop   1200        10
1     Mouse     25        50
2  Keyboard     75        30
3   Monitor    300         5

In [6]:
import pandas as pd

name_series = pd.Series(['Alice', 'Bob', 'Charlie'], name='Name')

employee_name_df = name_series.to_frame(name='Employee_Name')

print(employee_name_df)

  Employee_Name
0         Alice
1           Bob
2       Charlie

In [7]:
import pandas as pd

data = {'Name': ['Alice', 'Bob', 'Charlie', 'David'],
        'Age': [25, 30, 35, 40],
        'Department': ['HR', 'IT', 'Finance', 'Sales'],
        'Salary': [50000, 60000, 70000, 80000]}
df = pd.DataFrame(data)

new_df = df[['Name', 'Age', 'Department']]

print(new_df)

      Name  Age Department
0    Alice   25         HR
1      Bob   30         IT
2  Charlie   35    Finance
3    David   40      Sales

In [8]:
import pandas as pd

data = {'col1': [1, 2, 3, 4, 5],
        'col2': [10.5, 11.2, 9.8, 12.1, 10.0],
        'col3': ['A', 'B', 'C', 'D', 'E']}
df = pd.DataFrame(data)

summary_statistics = df.describe()

print(summary_statistics)

           col1       col2
count  5.000000   5.000000
mean   3.000000  10.720000
std    1.581139   0.941807
min    1.000000   9.800000
25%    2.000000  10.000000
50%    3.000000  10.500000
75%    4.000000  11.200000
max    5.000000  12.100000

In [9]:
import pandas as pd

data = {'Employee_ID': [101, 102, 103, 104],
        'Name': ['Alice', 'Bob', 'Charlie', 'David'],
        'Department': ['HR', 'IT', 'Finance', 'HR']}
df = pd.DataFrame(data)

df.set_index('Employee_ID', inplace=True)

print(df)

                Name Department
Employee_ID
101            Alice         HR
102              Bob         IT
103          Charlie    Finance
104            David         HR

In [10]:
import pandas as pd

data = {'Name': ['Alice', 'Bob'], 'Age': [25, 30]}
df = pd.DataFrame(data)

df_dict_default = df.to_dict()
print(df_dict_default)

{'Name': {0: 'Alice', 1: 'Bob'}, 'Age': {0: 25, 1: 30}}

In [11]:
import pandas as pd

data = {'Name': ['Alice', 'Bob', 'Charlie'],
        'Salary': [70000, 80000, 95000],
        'City': ['New York', 'Los Angeles', 'Chicago']}
df = pd.DataFrame(data)

df = df.rename(columns={'Salary': 'Annual_Salary', 'City': 'Location'})

print(df)

      Name  Annual_Salary     Location
0    Alice          70000     New York
1      Bob          80000  Los Angeles
2  Charlie          95000      Chicago