In [1]:
numbers = [1, 2, 3, 4, 5]
squared_numbers = list(map(lambda x: x**2, numbers))
print(squared_numbers)

[1, 4, 9, 16, 25]

In [2]:
celsius_temperatures = [0, 10, 20, 30, 40]
fahrenheit_temperatures_map_object = map(lambda c: (c * 9/5) + 32, celsius_temperatures)
fahrenheit_temperatures = list(fahrenheit_temperatures_map_object)
print(fahrenheit_temperatures)

[32.0, 50.0, 68.0, 86.0, 104.0]

In [6]:
def capitalize_names_with_map(names):
  """
  names: A list of strings.
  A new list with each name capitalized.
  """
  capitalized_map_object = map(str.capitalize, names)
  capitalized_names = list(capitalized_map_object)
  return capitalized_names

names = ["alice", "bob", "charlie"]
capitalized_names = capitalize_names_with_map(names)
print(capitalized_names)

['Alice', 'Bob', 'Charlie']

In [7]:
numbers = [1, 2, 3, 4, 5]
string_numbers = list(map(str, numbers))
print(string_numbers)

['1', '2', '3', '4', '5']

In [8]:
list1 = [1, 2, 3]
list2 = [4, 5, 6]

result_map_object = map(lambda x, y: x + y, list1, list2)
result_list = list(result_map_object)

print(result_list)

[5, 7, 9]

In [9]:
original_list = [2, 4, 6, 8]
multiplied_list = list(map(lambda x: x * 3, original_list))
print(multiplied_list)

[6, 12, 18, 24]

In [10]:
words = ["hello", "world", "python"]
word_lengths_map = map(len, words)
lengths = list(word_lengths_map)

print(lengths)

[5, 5, 6]

In [13]:
def convert_to_int_if_numeric(item):
    if isinstance(item, int):
        return item
    elif isinstance(item, str) and item.isdigit():
        return int(item)
    else:
        return item

mixed_list = [1, "2", "three", 4, "5"]
converted_list = list(map(convert_to_int_if_numeric, mixed_list))

print(converted_list)

[1, 2, 'three', 4, 5]

In [14]:
numbers = [1, 2, 3, 4, 5]
cubed_numbers_list = list(map(lambda x: x**3, numbers))
print(cubed_numbers_list)

[1, 8, 27, 64, 125]

In [16]:
def uppercase_sentence(sentence):
  """Capitalizes each word in a sentence."""
  words = sentence.split()
  uppercase_words = list(map(str.capitalize, words))
  return " ".join(uppercase_words)

my_sentence = "this is a test sentence"
new_sentence = uppercase_sentence(my_sentence)
print(new_sentence)

This Is A Test Sentence