In [6]:
import pandas as pd

df = pd.read_csv('student_exam_data.csv')

print(df)

    Name Gender  Maths  Science  Status
0   Amit      M     85       90       1
1  Priya      F     45       55       0
2   Ravi      M     60       35       1
3  Sneha      F     30       40       0
4  Karan      M     95       88       1

In [7]:
import pandas as pd

data = {'Student_ID': [101, 102, 103, 104],
        'Status': [1, 0, 1, 1]}
df = pd.DataFrame(data)

print("Original DataFrame:")
print(df)
print("-" * 30)

status_map = {1: "Passed", 0: "Failed"}

df['Status'] = df['Status'].map(status_map)

print("Modified DataFrame:")
print(df)

Original DataFrame:
   Student_ID  Status
0         101       1
1         102       0
2         103       1
3         104       1
------------------------------
Modified DataFrame:
   Student_ID  Status
0         101  Passed
1         102  Failed
2         103  Passed
3         104  Passed

In [8]:
import pandas as pd

data = {'Name': ['Alice', 'Bob', 'Charlie', 'Diana'],
        'Gender': ['F', 'M', 'M', 'F']}
df = pd.DataFrame(data)

print("Original DataFrame:")
print(df)

gender_mapping = {'M': 'Male', 'F': 'Female'}

df['Gender'] = df['Gender'].map(gender_mapping)

print("\nDataFrame after converting Gender codes:")
print(df)

Original DataFrame:
      Name Gender
0    Alice      F
1      Bob      M
2  Charlie      M
3    Diana      F

DataFrame after converting Gender codes:
      Name  Gender
0    Alice  Female
1      Bob    Male
2  Charlie    Male
3    Diana  Female

In [9]:
import pandas as pd

data = {'Name': ['Alice', 'Bob', 'Charlie', 'David'],
        'Maths': [75, 45, 60, 30]}
df = pd.DataFrame(data)

df['Math_Result'] = df['Maths'].map(lambda x: 'Pass' if x >= 50 else 'Fail')

print(df)

      Name  Maths Math_Result
0    Alice     75        Pass
1      Bob     45        Fail
2  Charlie     60        Pass
3    David     30        Fail

In [10]:
science_marks = [85, 45, 92, 38, 55, 60, 49, 75]

science_result = list(map(lambda mark: "Pass" if mark >= 50 else "Fail", science_marks))

print(f"Original Science Marks: {science_marks}")
print(f"Science_Result: {science_result}")

Original Science Marks: [85, 45, 92, 38, 55, 60, 49, 75]
Science_Result: ['Pass', 'Fail', 'Pass', 'Fail', 'Pass', 'Pass', 'Fail', 'Pass']

In [11]:
def assign_grade(score):
    if score >= 90:
        return "A"
    elif score >= 75:
        return "B"
    elif score >= 50:
        return "C"
    else:
        return "D"

scores = [85, 92, 60, 45, 78, 95, 30]

grades = list(map(assign_grade, scores))

print(grades)

['B', 'A', 'C', 'D', 'B', 'A', 'D']

In [12]:
import pandas as pd

data = {'Name': ['Alice', 'Bob', 'Charlie', 'David'],
        'Maths': [95, 88, 92, 76]}
df = pd.DataFrame(data)

print("Original DataFrame:")
print(df)
df['Topper'] = df['Maths'].map(lambda x: x > 90)

print("\nDataFrame with 'Topper' column:")
print(df)

Original DataFrame:
      Name  Maths
0    Alice     95
1      Bob     88
2  Charlie     92
3    David     76

DataFrame with 'Topper' column:
      Name  Maths  Topper
0    Alice     95    True
1      Bob     88   False
2  Charlie     92    True
3    David     76   False

In [14]:
import pandas as pd

data = {
    'Student': ['Alice', 'Bob', 'Charlie', 'David', 'Eve', 'Frank'],
    'Maths': [95, 82, 45, 50, 90, 77]
}
df = pd.DataFrame(data)

print("Original DataFrame:")
print(df)
def convert_to_stars(math_score):
    if math_score >= 90:
        return '★★★★★'
    elif 50 <= math_score < 90:
        return '★★★'
    else:  # For any score less than 50
        return '★'
df['Math_Stars'] = df['Maths'].map(convert_to_stars)

print("\nDataFrame with Math_Stars column:")
print(df)

Original DataFrame:
   Student  Maths
0    Alice     95
1      Bob     82
2  Charlie     45
3    David     50
4      Eve     90
5    Frank     77

DataFrame with Math_Stars column:
   Student  Maths Math_Stars
0    Alice     95      ★★★★★
1      Bob     82        ★★★
2  Charlie     45          ★
3    David     50        ★★★
4      Eve     90      ★★★★★
5    Frank     77        ★★★

In [15]:
import pandas as pd

data = {'Student': ['Alice', 'Bob', 'Charlie', 'David'],
        'Score': [85, 72, 95, 61],
        'Status': ['Passed', 'Failed', 'Passed', 'Failed']}

df = pd.DataFrame(data)

print("Original DataFrame:")
print(df)
status_map = {'Passed': 1, 'Failed': 0}
df['Status'] = df['Status'].map(status_map)

print("\nDataFrame with normalized 'Status' column:")
print(df)

Original DataFrame:
   Student  Score  Status
0    Alice     85  Passed
1      Bob     72  Failed
2  Charlie     95  Passed
3    David     61  Failed

DataFrame with normalized 'Status' column:
   Student  Score  Status
0    Alice     85       1
1      Bob     72       0
2  Charlie     95       1
3    David     61       0