In [5]:
import pandas as pd

df = pd.read_csv('Pandas Functions.csv')

print(df.head())

   Employee_ID           Name  Age Department  Salary Joining_Date  \
0          101       John Doe   28         IT   50000   15-06-2018
1          102     Jane Smith   32         HR   60000   23-09-2016
2          103    Emily Davis   45    Finance   80000   04-11-2012
3          104  Michael Brown   29         IT   55000   12-07-2019
4          105   Chris Wilson   35  Marketing   62000   19-03-2015

            City
0       New York
1    Los Angeles
2        Chicago
3       New York
4  San Francisco

In [6]:
import pandas as pd

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 7 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Employee_ID   10 non-null     int64
 1   Name          10 non-null     object
 2   Age           10 non-null     int64
 3   Department    10 non-null     object
 4   Salary        10 non-null     int64
 5   Joining_Date  10 non-null     object
 6   City          10 non-null     object
dtypes: int64(3), object(4)
memory usage: 692.0+ bytes

In [7]:
import pandas as pd

data = {'Name': ['Alice', 'Bob', 'Charlie'],
        'Age': [30, 24, 35],
        'Salary': [70000, 60000, 85000]}
df = pd.DataFrame(data)

selected_columns = df[['Name', 'Salary']]
print(selected_columns)

      Name  Salary
0    Alice   70000
1      Bob   60000
2  Charlie   85000

In [8]:
import pandas as pd

employee_data = {
    'Name': ['Alice', 'Bob', 'Charlie', 'David', 'Eve'],
    'Age': [28, 35, 42, 29, 31],
    'Department': ['HR', 'Sales', 'Engineering', 'Marketing', 'HR'],
    'Salary': [60000, 75000, 90000, 62000, 68000]
}

df = pd.DataFrame(employee_data)

filtered_employees = df[df['Age'] > 30]

print("Employees older than 30:")
print(filtered_employees)

Employees older than 30:
      Name  Age   Department  Salary
1      Bob   35        Sales   75000
2  Charlie   42  Engineering   90000
4      Eve   31           HR   68000

In [9]:
import pandas as pd

data = {
    'name': ['Alice', 'Bob', 'Charlie', 'David'],
    'salary': [50000, 60000, 45000, 75000],
    'position': ['Developer', 'Manager', 'Intern', 'Senior Manager']
}
df = pd.DataFrame(data)

sorted_df = df.sort_values(by='salary', ascending=False)

print(sorted_df)

      name  salary        position
3    David   75000  Senior Manager
1      Bob   60000         Manager
0    Alice   50000       Developer
2  Charlie   45000          Intern

In [10]:
import pandas as pd

missing_values_count = df.isnull().sum()
print(missing_values_count)

name        0
salary      0
position    0
dtype: int64

In [12]:
import pandas as pd

data = {
    'Employee Name': ['Alice', 'Bob', 'Charlie', 'David', 'Eve', 'Frank'],
    'Department': ['HR', 'IT', 'HR', 'Sales', 'IT', 'Sales'],
    'Salary': [60000, 75000, 62000, 80000, 78000, 85000]
}

df = pd.DataFrame(data)
department_stats = df.groupby('Department').agg(
    Employee_Count=('Employee Name', 'size'),
    Average_Salary=('Salary', 'mean')
).reset_index()

print(department_stats)

  Department  Employee_Count  Average_Salary
0         HR               2         61000.0
1         IT               2         76500.0
2      Sales               2         82500.0

In [13]:
import pandas as pd
from datetime import datetime

data = {'Employee_ID': [1, 2, 3],
        'Name': ['Alice', 'Bob', 'Charlie'],
        'Joining_Date': ['2010-05-15', '2018-01-20', '2022-11-01']}
df = pd.DataFrame(data)

df['Joining_Date'] = pd.to_datetime(df['Joining_Date'])

current_year = datetime.now().year

df['Years_of_Experience'] = current_year - df['Joining_Date'].dt.year

print(df)

   Employee_ID     Name Joining_Date  Years_of_Experience
0            1    Alice   2010-05-15                   15
1            2      Bob   2018-01-20                    7
2            3  Charlie   2022-11-01                    3

In [14]:
import pandas as pd


data = {'Name': ['Alice', 'Bob', 'Charlie'],
        'Department': ['IT', 'HR', 'Finance'],
        'Salary': [60000, 55000, 75000]}
df = pd.DataFrame(data)

print("Original DataFrame:")
print(df)
print("-" * 30)

df.rename(columns={'Salary': 'Annual_Salary'}, inplace=True)


df['Department'] = df['Department'].str.upper()

print("Modified DataFrame:")
print(df)

Original DataFrame:
      Name Department  Salary
0    Alice         IT   60000
1      Bob         HR   55000
2  Charlie    Finance   75000
------------------------------
Modified DataFrame:
      Name Department  Annual_Salary
0    Alice         IT          60000
1      Bob         HR          55000
2  Charlie    FINANCE          75000

In [15]:
import pandas as pd

data = {'col1': [10, 20, 30], 'col2': ['A_mod', 'B_mod', 'C_mod']}
df_modified = pd.DataFrame(data)

df_modified.to_csv('updated_pandas_functions_data.csv', index=False)