In [1]:
import pandas as pd

df = pd.read_csv('employee_sorting.csv')

print(df)

      Name  Age Department  Salary  Experience
0    Alice   25         HR   50000           2
1      Bob   30         IT   60000           4
2  Charlie   35    Finance   70000           6
3    David   28         IT   55000           3
4      Eve   40         HR   80000          10
5   Farhan   27    Finance   65000           2
6     Gita   32         IT   72000           5

In [2]:
class Employee:
    def __init__(self, name, salary):
        self.name = name
        self.salary = salary

    def __repr__(self):
        # This method provides a readable string representation of the object
        return f"Employee(name='{self.name}', salary={self.salary})"

employees = [
    Employee('Alice', 60000),
    Employee('Bob', 50000),
    Employee('Charlie', 75000),
    Employee('David', 50000)
]

sorted_employees = sorted(employees, key=lambda emp: emp.salary)

print("Original list:")
print(employees)
print("\nSorted list by salary (ascending):")
print(sorted_employees)

Original list:
[Employee(name='Alice', salary=60000), Employee(name='Bob', salary=50000), Employee(name='Charlie', salary=75000), Employee(name='David', salary=50000)]

Sorted list by salary (ascending):
[Employee(name='Bob', salary=50000), Employee(name='David', salary=50000), Employee(name='Alice', salary=60000), Employee(name='Charlie', salary=75000)]

In [3]:
class Employee:
    def __init__(self, name, salary):
        self.name = name
        self.salary = salary

    def __repr__(self):
        # This method provides a readable string representation of the object
        return f"Employee(name='{self.name}', salary={self.salary})"
employee_list = [
    Employee("Alice", 60000),
    Employee("Bob", 80000),
    Employee("Charlie", 50000),
    Employee("Diana", 95000),
]

sorted_employee_list = sorted(employee_list, key=lambda employee: employee.salary, reverse=True)

for employee in sorted_employee_list:
    print(employee)

Employee(name='Diana', salary=95000)
Employee(name='Bob', salary=80000)
Employee(name='Alice', salary=60000)
Employee(name='Charlie', salary=50000)

In [4]:
employees = [
    {"name": "Alice", "experience": 5},
    {"name": "Bob", "experience": 10},
    {"name": "Charlie", "experience": 2},
    {"name": "David", "experience": 8},
]

sorted_employees = sorted(employees, key=lambda employee: employee["experience"], reverse=True)
print("Sorted employees (new list):")
for employee in sorted_employees:
    print(employee)

employees.sort(key=lambda employee: employee["experience"], reverse=True)
print("\nEmployees sorted in-place:")
for employee in employees:
    print(employee)

Sorted employees (new list):
{'name': 'Bob', 'experience': 10}
{'name': 'David', 'experience': 8}
{'name': 'Alice', 'experience': 5}
{'name': 'Charlie', 'experience': 2}

Employees sorted in-place:
{'name': 'Bob', 'experience': 10}
{'name': 'David', 'experience': 8}
{'name': 'Alice', 'experience': 5}
{'name': 'Charlie', 'experience': 2}

In [5]:
import pandas as pd

data = {'Name': ['Charlie', 'Alice', 'Bob', 'David'],
        'Age': [30, 25, 35, 40],
        'Score': [95, 85, 90, 80]}
df = pd.DataFrame(data)

print("Original DataFrame:")
print(df)

sorted_df = df.sort_values(by='Name', ascending=True)

print("\nSorted DataFrame by Name (A to Z):")
print(sorted_df)

Original DataFrame:
      Name  Age  Score
0  Charlie   30     95
1    Alice   25     85
2      Bob   35     90
3    David   40     80

Sorted DataFrame by Name (A to Z):
      Name  Age  Score
1    Alice   25     85
2      Bob   35     90
0  Charlie   30     95
3    David   40     80

In [6]:
employees = [
    {'name': 'Alice', 'department': 'HR', 'salary': 60000},
    {'name': 'Bob', 'department': 'Engineering', 'salary': 90000},
    {'name': 'Charlie', 'department': 'HR', 'salary': 75000},
    {'name': 'David', 'department': 'Engineering', 'salary': 85000},
    {'name': 'Eve', 'department': 'Marketing', 'salary': 65000},
    {'name': 'Frank', 'department': 'HR', 'salary': 70000},
    {'name': 'Grace', 'department': 'Engineering', 'salary': 95000},
]

sorted_employees = sorted(employees, key=lambda x: (x['department'], -x['salary']))

for employee in sorted_employees:
    print(employee)

{'name': 'Grace', 'department': 'Engineering', 'salary': 95000}
{'name': 'Bob', 'department': 'Engineering', 'salary': 90000}
{'name': 'David', 'department': 'Engineering', 'salary': 85000}
{'name': 'Charlie', 'department': 'HR', 'salary': 75000}
{'name': 'Frank', 'department': 'HR', 'salary': 70000}
{'name': 'Alice', 'department': 'HR', 'salary': 60000}
{'name': 'Eve', 'department': 'Marketing', 'salary': 65000}

In [7]:
employees = [
    {'name': 'Alice', 'age': 30, 'experience': 5},
    {'name': 'Bob', 'age': 25, 'experience': 8},
    {'name': 'Charlie', 'age': 30, 'experience': 3},
    {'name': 'David', 'age': 25, 'experience': 6},
    {'name': 'Eve', 'age': 35, 'experience': 10},
]

employees.sort(key=lambda employee: (employee['age'], -employee['experience']))

for employee in employees:
    print(employee)

{'name': 'Bob', 'age': 25, 'experience': 8}
{'name': 'David', 'age': 25, 'experience': 6}
{'name': 'Alice', 'age': 30, 'experience': 5}
{'name': 'Charlie', 'age': 30, 'experience': 3}
{'name': 'Eve', 'age': 35, 'experience': 10}

In [8]:
import pandas as pd

data = {'Name': ['Alice', 'Bob', 'Charlie', 'David'],
        'Age': [25, 30, 35, 40],
        'Salary': [60000, 80000, 75000, 90000]}
df = pd.DataFrame(data)

df_sorted = df.sort_values(by='Salary')

print("Original DataFrame:")
print(df)

print("\nSorted DataFrame (copy):")
print(df_sorted)

Original DataFrame:
      Name  Age  Salary
0    Alice   25   60000
1      Bob   30   80000
2  Charlie   35   75000
3    David   40   90000

Sorted DataFrame (copy):
      Name  Age  Salary
0    Alice   25   60000
2  Charlie   35   75000
1      Bob   30   80000
3    David   40   90000

In [9]:
import pandas as pd

data = {'Name': ['Alice', 'Bob', 'Charlie', 'David'],
        'Experience': [5, 2, 8, 3],
        'City': ['New York', 'London', 'Paris', 'Tokyo']}
df = pd.DataFrame(data)

print("Original DataFrame:")
print(df)

df.sort_values(by='Experience', inplace=True)

print("\nDataFrame after in-place sorting by 'Experience':")
print(df)

Original DataFrame:
      Name  Experience      City
0    Alice           5  New York
1      Bob           2    London
2  Charlie           8     Paris
3    David           3     Tokyo

DataFrame after in-place sorting by 'Experience':
      Name  Experience      City
1      Bob           2    London
3    David           3     Tokyo
0    Alice           5  New York
2  Charlie           8     Paris

In [1]:
import pandas as pd

try:
    df = pd.read_csv('employee_sorting.csv')
except FileNotFoundError:
    print("Error: 'employees.csv' not found. Please ensure the file exists.")
    exit()

sorted_df = df.sort_values(by=['Department', 'Salary'])

output_filename = 'sorted_employees.csv'
sorted_df.to_csv(output_filename, index=False) # index=False prevents writing the DataFrame index as a column

print(f"Successfully sorted data and saved to '{output_filename}'.")

Successfully sorted data and saved to 'sorted_employees.csv'.